PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/adaptive_learning
GEMINI_API_KEY=AQ.Ab8RN6ITVjZqMLsEjAvLGLSHXnq0QLX9nBramyelwOt89Ea0gw
GEMINI_API_URL=https://api.openai.com/v1/chat/completions
GEMINI_MODEL=gpt-4.1-mini
